/*Swiper Module styles import*/
// global.scss
@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';

/*Mixins import*/
@import '../../app/shared/styles/mixins.scss';

/*temp vars*/
$swiper-one-color: #FAE0B2;
$swiper-two-color: #D4F5FF;
$swiper-three-color: #FFD4D4;

.swiper{
  width: 100vw;
  height: 100vh;
  @include display(column, space-around, center);
  h3{
    font-size: 3.2rem;
    width: 50vw;
  }
  .first{
    background-color: $swiper-one-color;
  }
  .second{
    background-color: $swiper-two-color;
  }
  .third{
    background-color: $swiper-three-color;
  }
  .ctrl{
    width: 100vw;
    @include display(row, space-around, center);
  }
}

@media screen and (orientation: landscape){
  .swipe-icon{
    width: 60vw;
    height: 30vw;
    ion-img{
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }
}
