<ion-content>
  <div class="container">
    <div>
      <ion-img src="assets/icon/welcome.svg"></ion-img>
      <ion-label class="forgot-password">Forgot Password</ion-label>
    </div>
    <div>
      <ion-item>
        <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:5}"></ng-otp-input>
      </ion-item>
      <a [routerLink]="['/login']" class="send-again">Send Again?</a>
      <div class="btns">
        <button [routerLink]="['/change-password']">Verify</button>
        <a [routerLink]="['/login']">Cancel</a>
      </div>
    </div>
  </div>
</ion-content>
