@import "../shared/styles/mixins.scss";

ion-menu{
  --background: var(--color-secondary);
  .nav-items{
    width: 90%;
    margin-inline: auto;
    & > span{
      width: 30%;
      margin-inline: auto;
      margin-bottom: 3.5rem;
      p{
        color: var(--color-light);
        font-weight: bold;
        font-size: 1.2rem;
      }
    }
    @include display(row, space-between, center);
    flex-wrap: wrap;
  }
}

@media screen and (orientation: landscape) {
  .nav-items{
    margin-top: 10vh;
  }
}

.logout{
  margin-inline: auto;
  width: 25vw;
  text-align: center;
  margin-bottom: 20vh;
  span{
    font-size: 2rem;
    color: var(--color-primary);
  }
}


