<ion-content>
  <div class="container">
    <div>
      <ion-img src="assets/icon/welcome.svg"></ion-img>
      <ion-label>Change Password</ion-label>
    </div>
    <div>
      <form [formGroup]="formsService.changePassword">
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input placeholder="676543210" formControlName="newPassword"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Repeat Password</ion-label>
          <ion-input placeholder="********" formControlName="repeatPassword"></ion-input>
        </ion-item>
        <div class="btns">
          <button>Change Password</button>
          <a [routerLink]="['/signup']">Signup Instead</a>
        </div>
      </form>
    </div>
  </div>
</ion-content>
