@import "../../styles/mixins.scss";

.navbar{
  width: 90%;
  height: 5vh;
  margin-inline: auto;
  @include display(row, space-between, center);
  .navbar__nav-element{
    span{
      font-size: 1.5rem;
      color: var(--color-secondary);
      cursor: pointer;
    }
  }
}

.active{
  border-bottom: 2px solid var(--color-primary);
  span{
    color: var(--color-primary) !important;
  }
}
