// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --color-primary: #fd3667;
  --color-secondary: #473F97;
  --color-tertiary: #FFF1EC;
  --color-success: #12B264;
  --color-warning: #E8EAEC;
  --color-danger: #FFE9D4;
  --color-medium: #000000;
  --color-light: #FFFFFF;
  --color-pink: #FFD4D4;
  --color-light-turqoise: #D4FFEA;
  --color-pale-green: #D4F5FF;
}
