<app-toolbar [pageTitle]="'Notice Board'"></app-toolbar>

<ion-content>

  <div class="container">
    <ion-card class="slide-lg">
      <ion-card-content>
        <div class="brand">
          <ion-img src="assets/images/notice_img_one.png"></ion-img>
        </div>
        <div class="content">
          <p>School is going on vacation next month</p>
        </div>
        <div class="date">
          March 2, 2023
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="brand">
          <ion-img src="assets/images/notice_img_two.png"></ion-img>
        </div>
        <div class="content">
          <p>Exams will start in a forth nigth</p>
        </div>
        <div class="date">
          Feb 12, 2022
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="brand">
          <ion-img src="assets/images/notice_img_three.png"></ion-img>
        </div>
        <div class="content">
          <p>Prom has been pushed forth by 11 days</p>
        </div>
        <div class="date">
          Jul 24, 2021
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="brand">
          <ion-img src="assets/images/notice_img_one.png"></ion-img>
        </div>
        <div class="content">
          <p>There is going to be a disciplinary council in the coming days</p>
        </div>
        <div class="date">
          Aug 17, 2023
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="brand">
          <ion-img src="assets/images/notice_img_three.png"></ion-img>
        </div>
        <div class="content">
          <p>Prom has been pushed forth by 11 days</p>
        </div>
        <div class="date">
          Jul 24, 2021
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="brand">
          <ion-img src="assets/images/notice_img_two.png"></ion-img>
        </div>
        <div class="content">
          <p>Exams will start in a forth nigth</p>
        </div>
        <div class="date">
          Feb 12, 2022
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
