<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="container" [ngStyle]="{'background-image': 'url(assets/icon/toolbar_background.svg)'}">
        <div class="info">
          <span><ion-menu-toggle><ion-img src="assets/icon/dashboard_icon.svg"></ion-img></ion-menu-toggle></span>
          <p>
            <span>Yogita Shaje</span>
            <span>Class VII B</span>
          </p>
        </div>
        <div class="avatar">
          <ion-img src="assets/images/person_test.png"></ion-img>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>

  </ion-content>

</div>
<app-menu></app-menu>

