@import "../shared/styles/mixins.scss";

ion-toolbar{
  width: 100%;
  --background: var(--color-secondary) !important;
  height: 15vh;
  border-radius: 0 0 0 2rem;
  @include display(row, center, center);
}


